.filtersBar {
  overflow: hidden;

  & > ul {
    overflow-x: scroll;
    max-width: 60vw !important;

    scrollbar-width: 0;
    @media (min-width: 1200px) and (max-width: 1550px) {
      & {
        max-width: 40vw !important;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 850px) {
      max-width: 80vw;
    }
  }
}
