.notification {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-color: #ffffff;
  border-radius: 1.125rem;
  padding: 1.12rem;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.01);
  max-width: 51rem;
  width: 100%;
  height: fit-content;
  gap: 1rem;
}

.box__notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  &__title {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @media (max-width: 776px) {
      width: 100%;
    }
    &__info {
      @media (max-width: 400px) {
        flex-wrap: wrap;
      }
      display: flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
    .pic2{
      width: 30px !important;
      height: 10px !important;
    }
    h4 {
      min-width: fit-content;
    }
  }
}
