.singlePost {
    background-color: #ffffff;
    border-radius: 1.125rem;
    padding: 1.12rem;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.01);
    max-width: 51rem;
    width: 100%;
    height: fit-content;
  
    &__body--text {
      color: #000;
      font-family: Times New Roman;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.3;
  
      @media (max-width: 771px) {
        & {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
  