.videosPage__wrapper {
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  padding: 20px;
  margin: 0px 10px;
  @media (max-width: 550px) {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.videos__page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 1rem;
}

@media (max-width: 1300px) {
  .videos__page {
    grid-template-columns: repeat(2, auto) !important;
    text-align: center;
  }
}

@media (max-width: 771px) {
  .videos__page {
    // width: 90%;
    background-color: #fff;
    border-radius: 1rem;
    // height: 100%;
    padding: 20px;
    margin: 0px !important;
    display: grid;
    grid-template-columns: repeat(1, auto) !important;
    text-align: center;
  }
}
