.postHeader {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 0.5rem;
  margin-block-end: 1.3rem;

  &__user {
    display: flex;
    align-items: center;
    gap: 0.31rem;

    &--image {
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 50%;
    }
  }
}
