.main {
  max-width: 2000px;
  margin-inline: auto;
  margin-block-start: 3.75rem;

  display: grid;
  justify-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;

  & > .container {
    grid-row: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 950px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    & > .placeholder {
      grid-row: 1;
      grid-column: 1;
    }
  }
}
