.videoSidebar {
  position: absolute;
  bottom: 16px;
  right: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.videoSidebar_button {
  padding: 0px 5px;
  text-align: center;

  & img {
    width: 30px;
    &.comment {
      width: 25px;
    }
    &.picture {
      width: 40px;
    }
    &.plus {
      width: 18px;
      position: absolute;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
    }
    &.share {
      width: 25px;
    }
  }
}
