.input {
  &.number,
  &.password,
  &.tel,
  &.search,
  &.email,
  &.text {
    display: grid;
    gap: 0.8rem;
    padding-block-end: 1.56rem;
    position: relative;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    & > label {
      color: #5f5f5f;
      font-family: Mulish;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.01875rem;
      text-transform: uppercase;
    }

    & > input {
      width: 100%;
      outline: 0;
      border: #f0f1f7 1px solid;
      background-color: #fcfdfe;
      padding-block: 0.75rem;
      color: #000;
      font-size: 1.125rem;
      font-weight: 400;

      &:placeholder-shown {
        color: #4b506d;
        font-family: Mulish;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.01875rem;
      }
    }

    & > .showPasswordIcon {
      position: absolute;
      top: 3rem;
      right: 1rem;
      cursor: pointer;

      &.rtl {
        right: auto;
        left: 1rem;
      }
    }
  }

  &.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    & > label {
      grid-row: 2;
      color: #5f5f5f;
      font-family: Mulish;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.01875rem;
      text-transform: uppercase;
    }

    & > input {
      transform: scale(1.5);
    }
  }
}
