.reels__header {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  & span {
    // font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff99;
    cursor: pointer;
    &.active {
      color: #fff;
    }
  }
}
