.playAnimation {
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite;
  animation: pulsate-bck 0.5s ease-in-out infinite;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.volumeControlsContainer {
  position: relative;

  & > input {
    position: absolute;
    width: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
    left: 4.75rem;
}

  & > img:hover + input,
  & > input:hover {
    width: 5rem;
    transform: scaleX(1);
  }
}
